@import 'mdui/mdui.css';
/* @import './assets/typescale.css'; */

body {
	font-family: Roboto,Noto Sans SC,PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,"Microsoft Sans Serif",WenQuanYi Micro Hei,sans-serif;
	background-color: rgb(var(--mdui-color-background));
	transition: opacity var(--mdui-motion-duration-short2) var(--mdui-motion-easing-linear);
}

mdui-card {
	width: 100%;
	padding: 0px 16px 16px;
}

mdui-text-field {
	margin: 8px 0px;
}

.warn {
	background-color: rgb(var(--mdui-color-error));
	color: rgb(var(--mdui-color-on-error));
}

.warn-text {
	color: rgb(var(--mdui-color-error));
}

.pre-break {
	white-space: pre-line;
}

.no-select {
  user-select: none;
}

